/* PORTFOLIO PIECES */
.comingSoonPiece h2 {
  font-size: 2rem;
}

.comingSoon {
  display: flex;
  justify-content: center;
}

.comingSoon img {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: -1rem;
}

.extraPortfolioImage {
  display: flex;
  justify-content: center;
}

.extraPortfolioImage img {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.extraPortfolioImage img:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0);
  cursor: pointer;
  width: calc(75% + 5px);
  margin-bottom: -2.5px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .comingSoonImage img {
    width: 100%;
  }

  .comingSoon img {
    width: 100%;
  }

  .extraPortfolioImage img {
    width: 100%;
  }

  .extraPortfolioImage img:hover {
    width: calc(100% + 5px);
  }
}

@media(min-width: 2000px) {
  .comingSoonPiece h2 {
    font-size: 3.5rem;
  }
}