/* PORTFOLIO PIECES */
.comingSoonPiece h2 {
  font-size: 2rem;
}

.comingSoon {
  display: flex;
  justify-content: center;
}

.comingSoon img {
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: -1rem;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .comingSoonImage img {
    width: 100%;
  }

  .comingSoon img {
    width: 100%;
  }
}

@media(min-width: 2000px) {
  .comingSoonPiece h2 {
    font-size: 3.5rem;
  }
}