/* LISTS */
.lists {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.qualities {
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
}

.qualities:nth-of-type(1) {
  padding-right: 3rem;
}

.qualities h2 {
  text-align: left;
}

.qualitiesList {
  display: flex;
  justify-content: left;
  margin-top: -1.5rem;
  margin-bottom: -0.5rem;
}

/* WORK HISTORY */
.workHistory h2 {
  text-align: left;
  margin-bottom: -1.5rem;
}

.workHistory p {
  margin-top: -0.8rem;
}

.workHistory ul {
  margin-top: -0.5rem;
}

.workHistory li {
  margin-bottom: 0.4rem;
}

.workLocation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .qualities {
    width: 100%;
  }
}